:root {
  /** COLOR */
  --grey-one: #3e43464d;
  --text-color-secondary: #2c2c2c;
  --white: #fffafa;
  --red: #e23e3e;
  --yellow: #e2cf3e;
  --green: #6ce23e;

  /** BACKGROUND */
  --bg-primary: rgba(255, 255, 255, 0.15);
  --bg-secondary: rgba(35, 38, 39, 0.8);
  --bg-title: rgba(23, 25, 26, 1);

  /** BOX SHADOW */
  --box-shadow: rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  font-family: Open Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./asset/images/macos-big-sur-wallpaper.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;

  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
