:root {
  /** COLOR */
  --grey-one: #3e43464d;
  --text-color-secondary: #2c2c2c;

  /** BACKGROUND */
  --bg-primary: rgba(255, 255, 255, 0.15);
  --bg-secondary: rgba(35, 38, 39, 0.8);

  /** BOX SHADOW */
  --box-shadow: rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  font-family: Open Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./asset/images/macos-big-sur-wallpaper.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}
